IMPORTING THE ALL NECCESSARY LIBRIARIES

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

READING THE DATA

In [ ]:
df =pd.read_csv("/content/df_test.csv")
df.head()

,date,price,bedrooms,grade,has_basement,living_in_m2,renovated,nice_view,perfect_condition,real_bathrooms,has_lavatory,single_floor,month,quartile_zone
0,2014-09-26,305000.0,2,1,False,76.18046,False,False,True,1,False,True,9,2
1,2014-05-14,498000.0,3,2,True,210.88981,False,False,False,2,True,True,5,2
2,2015-03-23,590000.0,2,4,False,262.91549,False,False,False,2,True,False,3,2
3,2014-07-15,775000.0,3,3,False,159.79316,False,False,False,1,True,False,7,3
4,2015-04-14,350000.0,2,1,False,92.90300,False,False,False,1,True,True,4,3

In [ ]:
df.tail()

,date,price,bedrooms,grade,has_basement,living_in_m2,renovated,nice_view,perfect_condition,real_bathrooms,has_lavatory,single_floor,month,quartile_zone
6695,2014-12-11,730000.0,3,3,True,188.59309,False,False,False,2,True,False,12,3
6696,2014-06-24,518000.0,3,4,False,234.11556,False,False,False,2,True,False,6,2
6697,2014-06-18,264000.0,3,2,True,169.08346,False,False,False,1,True,True,6,1
6698,2015-02-02,612125.0,1,2,True,155.14801,False,False,False,1,True,True,2,4
6699,2014-10-17,190000.0,2,1,False,117.05778,False,False,False,1,False,True,10,2

This section prepares our data for machine learning by separating input features from the target, removing incompatible data types, and identifying which columns need special mathematical treatment.

Input Features** - All information we use to MAKE PREDICTIONS (everything except 'grade')

Target Variable** - What we want to PREDICT (in this case, 'grade')
3. **Numeric Features** - Columns with numbers (bedrooms=2, price=305000) that can be directly standardized
4. **Categorical Features** - Columns with True/False values that need conversion to 0/1
5. **StandardScaler** - Makes all numbers fit on similar scale (prevents large numbers from dominating)
6. **OneHotEncoder** - Converts True/False to 1/0 for model compatibility

In [ ]:
X = df.drop("grade", axis=1)
X = X.drop("date", axis=1)
y = df["grade"]
num_features = [col for col in X.columns if X[col].dtype in ['int64', 'float64']]
cat_features = [col for col in X.columns if X[col].dtype == 'bool']

preprocessor = ColumnTransformer([
    ("num", StandardScaler(), num_features),
    ("cat", OneHotEncoder(drop="first"), cat_features)
])

USE PIPELINES FOR OPERATIONS

In [ ]:
model_pipeline = Pipeline([
    ("preprocessor", preprocessor),
    ("regressor", LinearRegression())
])

TRAIN AND TEST DATA BY USING TRAIN AND TEST SPILT FOR LINEAR REGRESSION

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=43)

CALCULATING THE ABSOLUTE ERROR AND R SQUARE

In [ ]:
model = LinearRegression()

In [ ]:
model_pipeline.fit(X_train, y_train)
predictions = model_pipeline.predict(X_test)
mae = mean_absolute_error(y_test, predictions)
r2 = r2_score(y_test, predictions)
print(f'Mean Absolute Error: {mae}')
print(f'R² Score: {r2}')

Mean Absolute Error: 0.477277536131466
R² Score: 0.6316896330506647